
img[data-src] { transition:all 0.25s ease !important; }
img[data-src]:not(.loaded) {
	opacity: 0;
	visibility: hidden;
}

.lazybox { animation: blink 2s infinite; }
@keyframes blink {
	0%		{ background-color: var(--primary-background);}
	25%		{ background-color: var(--ternary-background);}
	50%		{ background-color: var(--primary-background);}
	75%		{ background-color: var(--ternary-background);}
	100%	{ background-color: var(--primary-background);}
}